/* @import "url(‘https://fonts.googleapis.com/css?family=Jost&display=swap’)"; */


body{
    font-family:'Jost';
}

.big-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
    margin: 155px 0px 160px 0px;
    border-radius: 15px;
}

.about-text{
    color: white;
    font-size: 16px;
    line-height: 26px;
    width: 72.13%;
    height: 130px;
    margin-left: 14.94%;
    margin-bottom: 135px;
}

.myText{
    font-size: 48px;
    line-height: 48px;
    color: white;
    margin-left: 14.94%;
    margin-top: 135px;
    margin-bottom: 32px;
}


.sub-div{
    background-color: #E7816B;
    width: 57.16%;
   
}

.sub-div-1 {
    width: 42.84%;
    height: 100%;
    border-radius: 15px;
}
.left-curve{
    border-radius: 15px 0px 0px 15px;

}
.right-curve{
    border-radius: 0px 15px 15px 0px;
    

}
#sub-img{
    width: 100%;
    height: 100%;
  
}
.big-div-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 640px;
    margin: 155px 0px 160px 0px;
    border-radius: 15px;
}

.sub-2{
    width:57.16% ;
    background-color: #FDF3F0;
}

.holder-2{
    width: 70.08%;
    height: 332px;
    margin: 154px 15.12% 154px 14.80%;
}
.body-text-small{
    font-size: 16px;
    line-height: 26px;
    color: #333136;
}
.class-medium{
    font-size: 40px;
    line-height: 48px;
    color: #E7816B;
    margin: 0px;
}
#sub-text{
    width: 100%;
    margin-top: 24px;
    height: 103px;
}
#sub-text-1{
    width: 100%;
    margin-top: 48px;
}

/*TABLET SCREENS */
@media only screen and (min-width: 520px) and (max-width:920px){
    .big-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 632px;
    }
    .sub-div{
        width: 100%;
    }
    .sub-div-1{
        width: 100%;
        height: 320px;
    }
    .col-order:nth-of-type(1) { order: 2; }
    .col-order:nth-of-type(2) { order: 1; }

    .myText{
        width: 83.02%;
        margin: 64px 8.42% 32px 8.42%;
    }
    .about-text{
        width: 83.02%;
        font-size: 16px;
        line-height: 26px;
        margin: 0px 8.42% 64px 8.42%;
    }

     .left-curve{
    border-radius:0px 0px 15px 15px ;
    }

    .right-curve{
        border-radius: 15px 15px 0px 0px;

    }

}

