.mid-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 160px 0px;
}

.sub-mid{
    display: flex;
    flex-direction: column;
    height: 364px;
    width: 31.53%;
   
}

.sub-svg{
    width: 57.71%;
    height: 202px;
    margin: 0px 21.14% 48px;
    background-image: url("../../assets/shared/desktop/bg-pattern-small-circle.svg");
    background-repeat: no-repeat;
}

.loc-text{
    width: 100%;
    height: 26px;
    font: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    color: #333136;
    text-align: center;
    margin: 0px 0px 32px 0px;
}

.loc-button{
    width: 43.43%;
    height: 56px;
    background-color: #E7816B;
    border:transparent;
    color: white;
    text-transform: uppercase;
    margin: 0px 28.29%;
    border-radius: 10px;
}
.loc-button:hover{
    background-color: #FFAD9B;
}

/*TABLET SCREENS */
@media only screen and (min-width: 520px) and (max-width:920px){
 .mid-div{
    display: flex;
    flex-direction: column;
    width: 50.80%;
    margin: 120px 24.52% 0px 24.67%;
 }  
 .sub-mid{
    width: 100%;

 } 
}
 /* MOBILE SCREENS*/
@media only screen and (min-width:265px)and (max-width:450px) {
    .mid-div{
        display: flex;
        flex-direction: column;
       width: 93.33%;
       margin: 120px 3.47% 120px 3.2%;

    }
    .sub-mid{
        width: 100%;
    }


}